*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: #171616;
}

main{
    width: 320px;
    height: 640px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 0px 20px;
    position: relative;
}

#container{
    display: flex;
    flex-direction: column;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px;
}

header h1{
    padding: 0px 20px;
}

.disciplina{
    display: flex;
}

.disciplina .carga{
    font-size: 24px;
    padding: 8px;
}

.disciplina .informacoes p{

}













